#box{
	float: left;
	font:25px/25px 宋体;
	background: #000;
	color: #9f9;
	border: #999 20px ridge;
	
}

#next{
	margin: 20px;
	text-align: center;
	font:25px/25px 宋体;
	clear: both;
	color: #9f9;
}

#info{
	float: left;
	font:25px/25px consola;
	background: #000;
	color: #9f9;
	border: #999 20px ridge;
}

#score{
	clear: both;
	font: 20px/40px 宋体;
}

back {
	color: #333;
}

h3{
	text-align: center;
}
